body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: QuincyCF-ExtraBold;
}
.QuincyCF-ExtraBold {
  font-family: QuincyCF-ExtraBold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
